SPRING_DATASOURCE_URL=enter your database url here.
SPRING_DATASOURCE_USERNAME=enter your database username here.
SPRING_DATASOURCE_PASSWORD=enter your database password here.
JWT_SECRET=enter your jwt secret here. It should be a dev-only secret, at least 256 bits long.
JWT_ACCESS_EXPIRY_MINUTES=enter your jwt access token expiry time in minutes here.
JWT_REFRESH_EXPIRY_DAYS=enter your jwt refresh token expiry time in days here.
CORS_ALLOWED_ORIGINS=enter your allowed origins for CORS here, separated by commas. For example: http://localhost:5173,http://example.com